<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>template-render</title>
</head>
<body>
  <div id='app'></div>
  <script src="./Vnode.js"></script>
  <script src="./engine.js"></script>
  <script src="./V1.js"></script>
  <script>
    let tmpl = `<div class="newslist">
      <div class="img" v-if="info.showImage"><img src="{{image}}"/></div>
      <div class="date" v-if="info.showDate">{{info.name}}</div>
      <div class="img">{{info.name}}</div>
    </div>`;
 
    // render(tmpl, {
    // 	image: "some img", 
    //     info: {showImage: true, showDate:false, name: "aaa"}
    // })

    // let templateStr = `
    //   <div>
    //     {{ hello }}
    //   </div>
    // `
    new Template().mounted(document.querySelector('#app')).render(tmpl, {
      image: "some img", 
      info: {showImage: true, showDate:false, name: "aaa"}
    })
  </script>
</body>
</html>